<h1>GAME</h1>

<button type="button" name="button" ng-click="LeaveGame()">Leave game</button>

<div class="admin" ng-show="youAdmin()">
  <%= render "gameAdmin" %>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3">Game id</th>
      <th colspan="3">Number of players</th>
      <th colspan="3">Admin</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td colspan="3">{{Games.id}}</td>
        <td colspan="3">{{Games.users.length}}</td>
        <td colspan="3">{{FindAdminName(Games.users)}}</td>
      </tr>
  </tbody>
</table>


<h1>Users in this room</h1>
<table class="users" ng-repeat="user in Games.users">
  <tr><td>{{user.email}}</td><td>{{user.will}}</td></tr>
</table>

<h1>Team 1</h1>
<table class="team1" ng-repeat="user in Team1">
  <tr><td>{{user.email}}</td></tr>
</table>

<h1>Team 2</h1>
<table class="team2" ng-repeat="user in Team2">
  <tr><td>{{user.email}}</td></tr>
</table>
