<div class="perspectiveContainer" ng-app="App" ng-controller="AppController">
  <div class="container" ng-class="{containerNotHidden : !hide}">
    <div class="row" ng-controller="AppController">
      <div ng-show="show()"><%= render 'lobby' %></div>
      <div ng-hide="show()"><%= render 'game' %></div>
    </div>
  </div>
</div>
